<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://ros.org/wiki/xacro">

<!-- General Data -->
<!-- Center of Mass -->
<xacro:property name="Torso_x" value=" ${4.8116313e+01 *mmTom} "/>
<xacro:property name="Torso_y" value=" ${-6.6710054e-02 *mmTom} "/>
<xacro:property name="Torso_z" value=" ${1.5113268e+02 *mmTom} "/>
<!-- Inertia -->
<xacro:property name="Torso_xx" value=" ${9.2620774e+04 *mm2Tom2} "/>
<xacro:property name="Torso_yy" value=" ${3.9013925e+04 *mm2Tom2} "/>
<xacro:property name="Torso_zz" value=" ${7.8052512e+04 *mm2Tom2} "/>
<xacro:property name="Torso_xy" value=" ${-6.0351321e+01 *mm2Tom2} "/> 
<xacro:property name="Torso_xz" value=" ${-3.8356011e+03 *mm2Tom2} "/>
<xacro:property name="Torso_yz" value=" ${1.8515352e+01 *mm2Tom2}"/> 
<!-- Mass -->
<xacro:property name="Torso_mass" value="7.2248579 "/>


</robot>
